/* made by 2ky(@s2skky) */

@font-face {
    font-family: "malgun";
    src: url("../fonts/malgun.ttf");
}

#hitcount_box{
    position: absolute;
    top:10px;
    left:10px;
    width:220px;
    height:390px;
    line-height: 33px;

    transition: ease-in-out 500ms;
    
}
#countBox{
    position: absolute;
    left: 20px;
    top: 10px;
}
#h300g,
#h300,
#h200,
#h100,
#h50,
#miss,
#ur,
#pp,
#ratio,
#blank{
   font-family: malgun;
   font-size: 20pt;
    
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
    
    color: white;
}